<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>AI Models Flask</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<div>
  
  <body>
    <center>
      <h1>AI Models Flask Project</h1>
      <a class="text" href="/sentiment_analysis">
        <button class="button">Sentiment analysis</button>
      </a>
      <br />
      <a class="text" href="/summarizer">
        <button class="button">Text Summarizer</button>
      </a>
      <br />
      <a class="text" href="/mlm">
        <button class="button">Masked Language Model</button>
      </a>
      <br />
      <a class="text" href="/question_answering">
        <button class="button">Question Answering</button>
      </a>
      <br />
      <a class="text" href="/translation">
        <button class="button">Machine Translation: English to French</button>
      </a>
    </center>

  </body>

</div>

</html>