<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>AI Models Flask</title>
</head>
<div>

  <body>
    <center>
      <h1>AI Models Flask Project</h1>
      <a href="/sentiment_analysis">
        <button>sentiment analysis</button>
      </a>
      <a href="/summarizer">
        <button>Text Summarizer</button>
      </a>
      <a href="/mlm">
        <button>Masked Language Model</button>
      </a>
      <a href="/question_answering">
        <button>Question Answering</button>
      </a>
      <a href="/translation">
        <button>Machine Translation</button>
      </a>
    </center>

  </body>

</div>

</html>