<!DOCTYPE html>
<html lang="en">
  <body bgcolor="#FFFFFF">
    <center>
      <form method="POST" , action="{{url_for('home')}}">
        <b>
          First value :
          <input type="text" , name="input_1_text" , placeholder="enter text" />
          <br /><br
        /></b>
        <b>
          Second value :
          <input type="text" , name="input_2_text" , placeholder="enter text" />
          <br /><br
        /></b>
        <input type="submit" , name = "mlm", value="predict!" />
      </form>
      <a href="/"><button>back to home page</button></a>
    </center>
  </body>
</html>