<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Text Summarization</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body bgcolor="#FFFFFF">
  <center>
    <h1>Text Summarization</h1>
    <form method="POST" , action="{{url_for('home')}}">
      <b>
        Text:
        <input type="text" , name="text_data" , placeholder="enter text" />
        <br /><br /></b>
      <b>
        Start:
        <input type="number" , name="minLen" , placeholder="0" />
        <br /><br /></b>
      <b>
        End:
        <input type="number" , name="maxLen" , placeholder="0" />
        <br /><br /></b>
      <input type="submit" class="submit_button" name="summarizer" , value="Predict!" />
    </form>
    <a href="/"><button class="home_button">Home Page</button></a>
  </center>
</body>

</html>